# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
ev_venv/
venv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# DVC Cache
.dvc/cache/

# Models
models/
models/*.pkl
models/*.joblib

# Dataset
data/*.csv

# Logs
*.log

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Node
frontend/node_modules/
frontend/dist/

# Python cache
.pytest_cache/

# Build
build/
dist/

# Docker
*.tar